
@{
    ViewBag.Title = "Cribado";
}

<script src="~/Scripts/Highcharts/highcharts.js"></script>
<script src="~/Scripts/Highcharts/highcharts-3d.js"></script>
<script src="~/Scripts/Highcharts/exporting.js"></script>
<script src="~/Scripts/Highcharts/export-data.js"></script>
<script src="~/Scripts/Highcharts/accessibility.js"></script>

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/GraficaBarras.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-7"style="text-align:end"><h2>Cribado</h2></div>
    
    <div class="col-lg-4" style="text-align:end; padding-top:17px">
    <input id="fecha" type="date" onchange="chart()" style="font-size: 16px;  width:200px; height:40px; text-transform: uppercase; font-weight:bold;" /></div>


</div>

    <div class="row responsive" style="padding-top: 10px; padding-left:10px" >
        <div class="col-md-2" style="word-wrap: break-word; padding-top: 60px; box-shadow: rgba(255, 0, 0, 1) 0px 5px 15px; ">
            <section>
                <div>
                    <h4> Tamaño Del Grano:</h4>
                    <h4 id="lblTamaño"> </h4>
                    <br />
                    <h4> Reciduo:</h4>
                    <h4 id="lblReciduo"> </h4>
                    <br />
                    <h4> Contaminación:</h4>
                    <h4 id="lblContaminacion"> </h4>
                    <br />
                    <h4> Fecha Y Hora:</h4>
                    <h4 id="lblFecha" style="font-size:medium"> </h4>

                </div>
            </section>
        </div>

        <div class="col-md-8" style="">

            
                <figure class="highcharts-figure">
                    <div>
                        <div id="GrafBarras" style="height: 250px; width: 1100px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;"></div>

                    </div>
                </figure>
            
           
                <figure class="highcharts-figure">
                    <div>
                        <div id="GrafBarrasR" style="height: 250px; width: 1100px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;"></div>

                    </div>
                </figure>
            
            
            



        </div>

    </div>


    <script>

    window.onload = time;
    function time() {
        var now = new Date();
        var day = ("0" + (now.getDate())).slice(-2);
        var mes = ("0" + (now.getMonth() + 1)).slice(-2);
        var year = now.getFullYear();
        $("#fecha").val(year + "-" + mes + "-" + day);
        chart()
       
    }



    function chart() {

        var rd = {};
        rd.Fecha = $("#fecha").val();



           $.ajax({
                type:"POST",
                url: '@Url.Action("Cribado")',
                data: '{rd: ' + JSON.stringify(rd) + '}',
                dataType: "json",
                contentType:"application/json; chartset=uft-8",
                success: function (Response) {

                    if (Response != null) {

                        $("#lblTamaño").html(Response.granoCribado);
                        $("#lblReciduo").html(Response.ResiduoCribado);
                        $("#lblFecha").html(Response.fechaCribado);
                        $("#lblContaminacion").html(Response.contaminacionCribado);


                        Highcharts.chart('GrafBarras', {
                            chart: {
                                type: 'column',
                                events: {
                                    load:function () {
                                            var series = this.series[0];
                                            setInterval(
                                                function barra() {
                                                    var rd = {};
                                                    rd.Fecha = $("#fecha").val();
                                                    $.ajax({
                                                        type: "POST",
                                                        url: '@Url.Action("validarBarrascribado")',
                                                        data: '{rd: ' + JSON.stringify(rd) + '}',
                                                        dataType: "json",
                                                        contentType: "application/json; chartset=uft-8",
                                                        success: function (Responses) {
                                                            if (Responses != null) {
                                                                if (Responses.newaddContaminacion > 0) {

                                                                    $("#lblTamaño").html(Responses.granoCribado);
                                                                    $("#lblReciduo").html(Responses.ResiduoCribado);
                                                                    $("#lblFecha").html(Responses.fechaCribado);
                                                                    $("#lblContaminacion").html(Responses.newaddContaminacion);

                                                                    var x = Responses.newaddfechaCribado,
                                                                        y = Responses.newaddContaminacion;

                                                                    series.addPoint([ x, y ]);

                                                                }
                                                            }
                                                        },
                                                    });
                                                }, 5000);
                                        }
                                }
                            },
                            title: {
                                text: 'Contaminación'
                            },
                            accessibility: {
                                announceNewData: {
                                    enabled: true
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            xAxis: {

                                type: 'category',
                                labels: {
                                    rotation: 45,
                                    style: { color: 'Black' }
                                }
                            },
                            yAxis: {
                                title: {
                                    text: 'Contaminación'
                                }

                            },
                            legend: {
                                enabled: false
                            },
                            plotOptions: {
                                series: {
                                    borderWidth: 0,
                                    dataLabels: {
                                        enabled: true,
                                        format: '{point.y:.1f} KG'
                                    }
                                }
                            },
                            series: [
                                {
                                    name: 'Contaminación',
                                    colorByPoint: true,
                                    data:(function () {
                                            var data = [],
                                                dat = Response.contaminacionC,
                                                fec = Response.fechaC;

                                            for (var i = 0; i < dat.length; i++) {

                                                data.push({
                                                    name: fec[i],
                                                    y: dat[i]
                                                });

                                            }
                                            return data;
                                        }())
                                }
                            ]
                        });

                        Highcharts.chart('GrafBarrasR', {
                            chart: {
                                type: 'column',
                                 events: {
                                     load: function () {
                                            var series = this.series[0];
                                            setInterval(
                                                function barra() {
                                                    var rd = {};
                                                    rd.Fecha = $("#fecha").val();
                                                    $.ajax({
                                                        type: "POST",
                                                        url: '@Url.Action("validarBarrascribado")',
                                                        data: '{rd: ' + JSON.stringify(rd) + '}',
                                                        dataType: "json",
                                                        contentType: "application/json; chartset=uft-8",
                                                        success: function (Responses) {
                                                            if (Responses != null) {
                                                                if (Responses.newaddResiduo > 0) {

                                                                    var x = Responses.newaddfechaCribado,
                                                                        y = Responses.newaddResiduo;

                                                                    series.addPoint([ x, y ]);

                                                                }
                                                            }
                                                        },
                                                    });
                                                }, 5000);
                                        }
                                }
                            },
                            title: {
                                text: 'Reciduo'
                            },
                            accessibility: {
                                announceNewData: {
                                    enabled: true
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            xAxis: {
                                type: 'category',
                                labels: {
                                    rotation: 45,
                                    style: { color: 'Black' }
                                }
                            },
                            yAxis: {
                                title: {
                                    text: 'Reciduo'
                                }

                            },
                            legend: {
                                enabled: false
                            },
                            plotOptions: {
                                series: {
                                    borderWidth: 0,
                                    dataLabels: {
                                        enabled: true,
                                        format: '{point.y:.1f} KG'
                                    }
                                }
                            },

                            series: [
                                {
                                    name: 'Reciduo',
                                    colorByPoint: true,
                                    data: (function () {
                                        var data = [],
                                            dat = Response.ResiduoC,
                                            fec = Response.fechaC;

                                        for (var i = 0; i < dat.length; i++) {

                                            data.push({
                                                name: fec[i],
                                                y: dat[i]
                                            });

                                        }
                                        return data;
                                    }())
                                }
                            ]
                        });


                   } else {
                       alert('NULO');
                   }
               },
           });
    }
    </script>
